Repository Coding-Club-SVIST/Website, changes with the owners that .github/CODEOWNERS names for each.
All owners: @KrishanuRoyEng, @frontend-team, @backend-team, @devops-lead, @ReviewTeam

.github/CODEOWNERS:

# Global owner for the entire repo
*       @KrishanuRoyEng

# Specific directory ownership
/frontend/   @frontend-team
/backend/    @backend-team @KrishanuRoyEng

# Individual file ownership
package.json @devops-lead

# Multiple owners per path
/api/   @KrishanuRoyEng @ReviewTeam

array of domains
  backend/package-lock.json
  backend/src/app.ts
Owners: @backend-team, @KrishanuRoyEng

test
  .idea/inspectionProfiles/Project_Default.xml
  .idea/vcs.xml
  .idea/workspace.xml
  frontend/package-lock.json
Owners: @KrishanuRoyEng, @frontend-team

Dockerfiles
  backend/.env.example
  docker-compose.yml
  frontend/Dockerfile
Owners: @backend-team, @KrishanuRoyEng, @frontend-team

Stop tracking <file-path> and remove from remote
  .gitignore
  .idea/inspectionProfiles/Project_Default.xml
  .idea/vcs.xml
  .idea/workspace.xml
Owners: @KrishanuRoyEng

Update README.md
  README.md
Owners: @KrishanuRoyEng

Update README.md
  README.md
Owners: @KrishanuRoyEng

Update README.md
  README.md
Owners: @KrishanuRoyEng

Update live demo link formatting in README
  README.md
Owners: @KrishanuRoyEng

Minor improvements
  frontend/components/Footer.tsx
  frontend/pages/contacts/index.tsx
  frontend/pages/index.tsx
  frontend/pages/members/index.tsx
  frontend/pages/projects/index.tsx
Owners: @frontend-team

Updated title and meta tags
  backend/package-lock.json
  frontend/package-lock.json
  frontend/pages/_document.tsx
Owners: @backend-team, @KrishanuRoyEng, @frontend-team

feat: implement real-time push notifications
  README.md
  backend/.env.example
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20260414154900_add_push_notifications/migration.sql
  backend/prisma/schema.prisma
  backend/src/controllers/notification.controller.ts
  backend/src/lib/notifications/index.ts
  backend/src/lib/notifications/push.ts
  backend/src/routes/index.ts
  backend/src/routes/notification.routes.ts
  backend/src/types/index.ts
  docker-compose.yml
  frontend/components/EditProfile/ProfileInfoForm.tsx
  frontend/components/admin/NotificationsTab.tsx
  frontend/components/admin/RolesTab/RoleForm.tsx
  frontend/hooks/useNotifications.ts
  frontend/lib/api.ts
  frontend/lib/types.ts
  frontend/pages/_app.tsx
  frontend/pages/admin/index.tsx
  frontend/pages/members/profile/index.tsx
  frontend/public/sw.js
Owners: @KrishanuRoyEng, @backend-team, @devops-lead, @frontend-team

feat(notifications): support targeted pushes and optimize broadcast scaling
  backend/src/controllers/notification.controller.ts
  backend/src/lib/notifications/push.ts
  frontend/components/admin/NotificationsTab.tsx
  frontend/lib/api.ts
  frontend/public/sw.js
Owners: @backend-team, @KrishanuRoyEng, @frontend-team

Refine push notification logic in useNotifications
  frontend/hooks/useNotifications.ts
Owners: @frontend-team

feat(admin): multi-user search and targeting for notifications
  backend/README.MD
  backend/src/controllers/admin.controller.ts
  backend/src/controllers/notification.controller.ts
  backend/src/services/user.service.ts
  frontend/components/admin/NotificationsTab.tsx
  frontend/lib/api.ts
  frontend/pages/admin/index.tsx
Owners: @backend-team, @KrishanuRoyEng, @frontend-team

Potential fix for pull request finding 'Unused variable, import, function or class'
  frontend/components/admin/NotificationsTab.tsx
Owners: @frontend-team

Potential fix for pull request finding 'Unused variable, import, function or class'
  frontend/components/admin/NotificationsTab.tsx
Owners: @frontend-team
